#project
  #project-header
    .header
    .user-stories
      #create-user-story
        input#new-user-story-card(placeholder="New user story", type="text") 
        &nbsp;
        input#add-user-story(type="submit", value="Add")
  
      #user-stories
      ul#user-story-list
      
<script type="text/javascript" src="javascripts/project.js"></script>